/*Colors and fonts*/

body {
	background-color: rgb(245, 245, 245 / 1.0);
	color: #575F7D;
	font-family: "Roboto Mono", monospace;
	font-size: 17px;
	line-height: 1.6; 
	
	}
	



h1 {
	color: #FF4E88;
	font-family: "Playwrite GB S", cursive;
  	font-optical-sizing: auto;
  	font-weight: 900;
  	font-style: normal;
	font-size: 45px;
}

h2, h3 {
	font-family: "Roboto Mono", monospace;;
}

h2 {
	color: lightcoral;
	font-weight: lighter;
	letter-spacing: 10px;
	font-size: 20px;
}

a {
	text text-decoration: none;
	color: darkred;
	
}
a:hover {
	background-color: #FFEBD4;
	font-weight: bold;
}




/* Custom design with class */ 

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px){
	.container {
		width: 600px;
	}
@media (max-width: 500px){
	.container {
		width: 400px;
	}
}



.pink-card{
	text-align: center;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	width: 700px
	margin: 10px auto;
	border-radius: 5px;
	border : 1px dashed lightpink
	}

#logo{
	border-radius: 50%;
	border: 8px solid lightpink;
	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 30%;
			}

#btn-red{
	background-color: darkred;
	color: whitesmoke;
	padding: 8px 10px;
	border-radius: 5px;
}
#btn-red: hover {
	background-color: #FFEBD4;
	font-weight: bold;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline-block;
	padding: 10px;
	margin: 0 10px;
	margin-left:auto;
	margin-right:auto;
	
	}
.list-inline i{
	font-size: 50px;
}

.list-inline i: hover {
	color: #FFEBD4;
}

/* Design adjustments using id (1% design remainings) */
#introduction p {
	margin-bottom: 40px;
}
}






